/* 顶部区域
---------------------------------------------------------------- */

.top {
    height: 30px;
    line-height: 30px;
    background-color: #eee;
}

.top .user-info {
    float: left;
}

.top .nav-list {
    float: right;
}

.top .nav-list .nav-item {
    float: left;
    padding: 0 10px;
}

.top .nav-list .nav-item:hover {
    background-color: #fff;
}

.top .nav-list .nav-item .iconfont {
    font-size: 12px;
}

.top .nav-list .cart-box {
    position: relative;
}

.top .nav-list .cart-box .cart-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 400px;
    min-height: 100px;
    z-index: 9999;
    background-color: #fff;
    overflow: hidden;
    padding: 10px;
    margin-left: -5px;
    border: 1px solid #eee;
    border-top: none;
}

.top .nav-list .cart-box .loader {
    margin-top: 40px;
}

.top .nav-list .cart-box .empty-cart {
    display: inline-block;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
}

.top .nav-list .cart-item a {
    float: left;
}

.top .nav-list .cart-item {
    margin-bottom: 10px;
}

.top .nav-list .cart-item img {
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin-right: 10px;
}

.top .nav-list .cart-item span {
    display: inline-block;
    width: 170px;
}

.top .nav-list .cart-item .product-price {
    float: right;
    width: 60px;
    color: #f21;
    margin-right: 10px;
}

.top .nav-list .cart-item .product-count {
    float: right;
    width: 40px;
}

.top .nav-list .cart-tip {
    color: rgba(0, 0, 0, 0.85);
    ;
    font-weight: 800;
}

.top .nav-list .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 10px 0;
}

.top .nav-list .cart-btn {
    width: 120px;
    float: right;
}


/* 头部搜索
---------------------------------------------------------------- */

.header {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #52c41a;
    margin-bottom: 30px;
}

.header .logo {
    float: left;
}

.header .logo h1 {
    font-size: 30px;
    line-height: 100px;
    color: #52c41a;
}

.header .search-wrap {
    font-size: 16px;
    float: left;
}

.header .search-wrap .search-input {
    float: left;
    width: 400px;
    height: 38px;
    border: 2px solid #52c41a;
    outline: none;
}

.header .search-wrap .search-btn {
    float: left;
    width: 80px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background-color: #52c41a;
}

.header .search-wrap .search-btn:hover {
    opacity: .7;
}

.header .search-wrap .search-box {
    margin-top: 20px;
}

.header .search-wrap .nav-list {
    margin-top: 10px;
}

.header .nav-list .nav-item {
    margin-right: 40px;
    float: left;
}

.header .nav-list .nav-item a {
    font-weight: 200;
}

.header .nav-list .nav-item a.active {
    color: #52c41a;
}


/* 焦点区域
---------------------------------------------------------------- */

.focus {
    margin-bottom: 20px;
}

.focus .categories {
    float: left;
    height: 440px;
    background-color: #fff;
}

.focus .categories .parent-categories {
    padding: 20px 0;
}

.focus .categories .parent-categories .parent-categories-item {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.focus .categories .parent-categories .parent-categories-item:hover {
    background-color: #ddd;
}

.focus .categories .parent-categories .keyword-item {
    color: #333;
    font-size: 14px;
}

.focus .swiper {
    position: relative;
    float: left;
    height: 440px;
    background-color: navajowhite;
}

.focus .swiper .img-wrap,
.focus .swiper .img-item {
    width: 100%;
    height: 100%;
}

.focus .swiper .img-wrap img {
    width: 100%;
    height: 100%;
}

.focus .swiper .img-wrap .img-item {
    position: absolute;
    top: 0;
    left: 0;
}

.focus .swiper .arrow {
    position: absolute;
    top: 50%;
    height: 60px;
    font-size: 60px;
    color: #007AFF;
    line-height: 60px;
    margin-top: -30px;
    cursor: pointer;
    user-select: none;
}

.focus .swiper .left-arrow {
    left: 0;
}

.focus .swiper .right-arrow {
    right: 0;
}

.focus .swiper .btn-wrap {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 20px;
}

.focus .swiper .btn-wrap .btn-item {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #000;
    opacity: .2;
}

.focus .swiper .btn-wrap .btn-item.active {
    opacity: 1;
    background-color: #52c41a;
}


/* 热销区域
---------------------------------------------------------------- */

.hot {
    margin-bottom: 40px;
}

.hot .hot-card {
    float: left;
    height: 300px;
    font-size: 35px;
    box-sizing: border-box;
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding-top: 90px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background-image: linear-gradient(#1890ff, #52c41a);
}

.hot .hot-card h4 {
    margin-bottom: 15px;
}

.hot .hot-card .icon-cart {
    font-weight: normal;
    font-size: 35px;
}

.hot .product-list {
    float: left;
}

.hot .product-list .product-item:first-child {
    margin-left: 0;
}


/* 楼层
---------------------------------------------------------------- */

.floor .floor-wrap {
    margin-bottom: 20px;
}

.floor .floor-title {
    margin-bottom: 15px;
}

.floor .floor-title h4 {
    font-size: 18px;
}

.floor .floor-wrap:nth-child(2n+1) .floor-title h4 {
    color: #52c41a;
    border-bottom: 1px solid #52c41a;
}

.floor .floor-wrap:nth-child(2n) .floor-title h4 {
    color: purple;
    border-bottom: 1px solid purple;
}

.floor .product-list .product-item:nth-child(5n+1) {
    margin-left: 0;
}

.floor .product-list .product-item {
    margin-bottom: 15px;
}


/* 底部
---------------------------------------------------------------- */

.footer {
    height: 252px;
    background-color: black;
}

.footer .promise {
    font-size: 20px;
    color: #fff;
    line-height: 145px;
    padding: 0 50px;
    border-bottom: 1px solid #3d3d3d;
}

.footer .promise .promise-item1,
.footer .promise .promise-item2 {
    padding-right: 269px;
}

.footer .links {
    text-align: center;
    margin: 10px 0;
}

.footer .links a {
    padding-right: 20px;
    color: #888;
}

.footer .copyrigh {
    text-align: center;
    color: #888;
}